.extra-info {
    max-width: 1200px;
    margin-inline: auto;
}

.extra-info > section.pixel-box {
    flex: 1 1 300px;
}

.ai-spelers {
    max-width: 1200px;
    place-content: center;
    gap: 50px;
    align-items: stretch;
    margin-inline: auto;
}
figure {
    flex: 1 1 200px;
    max-width: 250px;
    margin-inline: 0;
    margin-block: 0;
}