.galerij-intro{
    color: var(--color-taupe);
}

.themas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}



.foto-galerij-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
}

.foto-galerij-grid img {
    width: 100%;
    max-width: 600px;
    max-height: 300px;
}



@media (max-width: 970px) {
    .themas{
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
   .foto-galerij-grid{
        grid-template-columns: 1fr;
    }
}


 