/* =========================================
                KLEUREN PALLET
   ========================================= */
:root {
    --color-gold: #f6cd26;         
    --color-bronze: #ac6b26;       
    --color-brown-primary: #563226; 
    --color-brown-deep: #331c17;   
    --color-terra: #bb7f57;        
    --color-taupe: #725956;        
    --color-black-soft: #393939;   
    --color-black-deep: #202020;   
}

/* =========================================
                     FONTS
   ========================================= */
@font-face {
    font-family: 'PressStart2P';
    src: url('../fonts/press_start_2p.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* =========================================
                BASIS STYLING 
   ========================================= */
body, 
#menu .submenu:hover ul {
    display: flex;
}

body {
    background-color: var(--color-black-soft);
    font-family: "PressStart2P", monospace;
    color: var(--color-gold);
    margin: 0;
    padding: 40px 20px;
    min-height: 100vh;
    box-sizing: border-box;
    image-rendering: pixelated; 
    
    flex-direction: column;     
    align-items: center;        
    justify-content: flex-start; 
    gap: 50px;                   
}

.hidden-title {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* =========================================
               HUISSTIJL (pixels ofc)
   ========================================= */
.pixel-box, 
.pixel-button, 
#menu .submenu ul {
    border: none;
    box-shadow: 
        -3px  0   0 0 var(--color-gold),
         3px  0   0 0 var(--color-gold),
         0   -3px 0 0 var(--color-gold),
         0    3px 0 0 var(--color-gold);
}

.pixel-box {
    background-color: var(--color-black-deep);
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.4));
}

.pixel-button {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 0.8rem;
    transition: transform 0.1s, background-color 0.2s;
}

.pixel-button.primary { background-color: var(--color-brown-primary); color: var(--color-gold); }
.pixel-button.secondary { background-color: var(--color-black-soft); color: var(--color-taupe); }

.pixel-button:hover {
    transform: translateY(-2px);
    background-color: var(--color-bronze);
    color: var(--color-black-deep);
}

/* =========================================
           NAVIGATIE & FOOTER
   ========================================= */
nav {
    text-align: center;
    width: 100%;
    max-width: max-content; 
    padding: 0;
    z-index: 100;
}



#menu ul {
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-flow: column; 
    grid-auto-columns: 1fr; 
}

#menu li {
    background-color: var(--color-brown-deep);
    width: 100%;
    box-sizing: border-box;
}

#menu li a {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    color: var(--color-gold);
    font-size: 0.8rem;
}

#menu li:hover { background-color: var(--color-bronze); }
#menu ul > li:hover > a { color: var(--color-black-deep); }

#menu .submenu { position: relative; }

#menu .submenu ul {
    display: none;
    background-color: var(--color-black-deep);
    min-width: 100%; 
    width: max-content; 
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999; 
}

#menu .submenu:hover ul {
    flex-direction: column; 
}

#menu,footer{
    width: 100%;
    max-width: 80vw;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.6rem;
    color: var(--color-taupe);
}