#hero {
    padding: 40px;
    text-align: center;
}

#hero nav {
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: row;

}

#hero h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

#hero p {
    margin-bottom: 30px;
}


#features {
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 620px) {
    #features {
        flex-direction: column;
    }
}

.feature-card {
    flex: 1;
    padding: 25px;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card h3 {
    font-size: 1rem;
    margin-top: 0;
    border-bottom: 2px dashed var(--color-brown-primary);
    padding-bottom: 10px;
}

.feature-card p {
    font-size: 0.7rem;
}


#hero p,.feature-card p{
    color: var(--color-taupe);
}

#features > section.pixel-box {
    flex: 1 1 150px;
}

#trailer {
    margin: 0 0 30px 0;
    width: 100%;
}

#trailer video {
    width: 100%;
    display: block;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

.marquee-container {
  width: 100%;      
  overflow: hidden;   
  white-space: nowrap;
  position: relative;
  justify-content: center;
}

.marquee-track {
  width: max-content;
  flex-wrap: nowrap;
  animation: marquee 40s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-30%); }
}

.marquee-track:hover {
  animation-play-state: paused;
}

section.marquee-container h3{
    padding: 10px;
}