.installatie-vereisten{
    gap: 50px;
    justify-content: center;
}

.vereisten{
    text-align: left;
    padding: 10px;
}

@media (max-width: 900px) {
    .installatie-vereisten{
        flex-direction: column;
    }
}
.pixel-button{
    margin: 20px;
}