article {
    width: 80vw;
    max-width: 900px;
    padding: 20px 40px;
    box-sizing: border-box;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

thead tr {
    border-bottom: 3px solid var(--color-gold);
    font-size: 0.6rem ;
}

th {
    padding: 12px 16px;
    text-align: center;
    font-size: 0.6rem;
}

td {
    padding: 10px 16px;
    text-align: center;
    font-size: 0.5rem;
    color: var(--color-terra);
}

tbody tr:hover td, th{
    color: var(--color-gold);
}

.outlier{
    background-color: var(--color-black-soft);
}

@media (max-width: 750px) {
    article {
        padding: 12px 16px;
    }

    th, td {
        padding: 8px 8px;
        font-size: 0.4rem;
    }
}

button{
    font-size: 0.1rem;
    margin-bottom: 15px;
}