h2 { line-height: 3; }

h4 { color: var(--color-gold); }

article p {
    line-height: 1.8;
    margin-bottom: 2rem;
}

article {
    align-items: flex-start;
    gap: 2rem;
}

article > h2 {
    flex: 0 0 100%;
    align-self: flex-start;
}

article > section.pixel-box {
    flex: 0 0 100%;
    max-width: 100%;
    min-height: unset;
    align-items: center;
    padding: 1.5rem;
}

article > section.pixel-box:nth-child(4) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1.5rem;
}

article > section.pixel-box:nth-child(4) > h3 { flex: 0 0 100%; }

article > section.pixel-box:nth-child(4) > section.pixel-box {
    flex: 1 1 340px;
    max-width: 460px;
    min-width: 340px;
    height: 600px;
    align-items: flex-start;
    padding: 1.5rem;
}
article > section.pixel-box:nth-child(4) > section.pixel-box:last-child {
    flex: 0 0 100%;
    max-width: 90%;
    height: unset;
    align-items: center;
}

article > section.pixel-box:nth-child(4) > section.pixel-box:last-child img {
    width: 60%;
    height: 260px;
    margin: auto 0 0 0;
}
article > section.pixel-box:nth-child(4) > section.pixel-box h4 {
    width: 100%;
}

article img {
    max-width: 100%;
    height: 260px;
    object-fit: contain;
    display: block;
    margin: auto 0 0 0;
}
